$lg : #f8fae5;
$mg : #bacc00;
$dg : #f1f5cc;
$grey-text : #555555;
$team-email : #333828;
$green-header : #415f06;
$footer-grey : #616059;
$team-green : #eaf0b2;
$team-grey : #dfdfde;

.lg,
.lightGreenBG{
	background-color:$lg;
}
.dg,
.darkGreenBG{
	background-color:$dg;
}
.tg,
.team-greenBG{
	background-color:$team-green;	
}
