/* footer */
footer{
	background-color:$footer-grey;
	padding:0rem 1.8rem 0.8rem 1.8rem ;
	text-align:center;
	a.home{
		overflow:hidden;
		height:100px;
		display:inline-block;
		img{
			width:250px;
		}
	}
	ul{
		list-style-type:none;
		padding-left:0;
		width:100%;
		margin:0 auto;
		display:flex;
		justify-content:center;

		&:after{
			content:" ";
			display:block;
			clear:both;
			float:none;
		}
		li{
			display:inline-block;
			float:left;
			padding:0 1rem;
		}
	}
	p{
		font-size:0.9em;
		color:#fff;
	}
	a{
		font-size:0.9em;
		color:#fff;
		&:hover{
			color:$mg;
		}
	}

	ul.social{
		margin:0 0 1.5rem 0;
		li{
			padding:0;
			margin:0 0.25rem;
			width:24px;
			a{
				margin:0;
				padding:0;
				width:24px;
				img{
					height:20px;
					width:20px;
				}
			}
		}
	}
}
