@mixin green-rollover{
	&:after{
		content:" ";
		display:block;
		width:500px;
		height:500px;
		position:absolute;
		left:50%;
		top:50%;
		z-index:25;
		background-color:$mg;
		opacity:0.5;
	    transform: translate(-50%,-50%) scale(0.0) rotate(45deg);
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}
	&:hover:after{
		transform: translate(-50%,-50%) scale(4) rotate(45deg);
	}
}
