/* header */

header#nav{
	width:100%;
	position:relative;
	z-index:1;
	overflow:hidden;

	/* min-height:450px; */
	min-height:560px;

	display:flex;
	align-items:center;
	justify-content:center;

	/*
	&.post{
		min-height:320px;
	}
	&.home{
		min-height:560px;		
		.headerText{
			padding:4rem 2rem 4rem 2rem;
		}
	}
	*/

	.headerBanner{
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		z-index:1;
		background-color:#000;
		img{
			width:100%;
			height:100%;
			object-fit:cover;
			opacity:0.8;
		}
	}

	nav.navbar{
		position:absolute;
		left:0px;
		top:0px;
		z-index:20;
		width:100%;
	}
	.headerText{
		position:relative;
		z-index:2;
		padding:0rem;
		max-width:820px;
		text-align:center;
		h1{
			color:#fff;
			@extend .neuzeit-grotesk-bold;
			font-size:2.2rem;
			margin:0 0 2rem 0;
		}
		p{
			color:#fff;
			font-size:1.2rem;
			margin:0;
			padding:0 1rem;
			a{
				color:#fff;
				text-decoration:underline;
				&:visited{
					color:#fff;
				}	
			}
		}
		@media (min-width:768px) {
			&{
				h1{
					font-size:3rem;
				}
				p{
					font-size:1.2rem;
				}
			}
		}
		@media (min-width:992px) {
			&{
				max-width:900px;
				h1{
					font-size:3.5rem;
				}
				p{
					font-size:1.5rem;
				}
			}
		}
	}
}

.home{
	header#nav{
		.headerText{
			h1{

			}
			p{

			}
		}
	}
}


body.ie11fix{
	header#nav{
		height:560px;
		/*
		&.post{
			height:320px;
		}
		*/
	}
}
