/* header */

header#nav{
	width:100%;
	position:relative;
	z-index:1;
	overflow:hidden;

	/* min-height:450px; */
	min-height:560px;

	display:flex;
	align-items:center;
	justify-content:center;

	/*
	&.home{
		min-height:560px;		
		.headerText{
			padding:4rem 2rem 4rem 2rem;
		}
	}
	*/

	.headerBanner{
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		z-index:1;
		img{
			width:100%;
			height:100%;
			object-fit:cover;
		}
	}

	nav.navbar{
		position:absolute;
		left:0px;
		top:0px;
		z-index:20;
		width:100%;
	}
	.headerText{
		position:relative;
		z-index:2;
		padding:0rem;
		max-width:820px;
		text-align:center;
		h1{
			color:#fff;
			@extend .neuzeit-grotesk-bold;
			font-size:48px;
			margin:0 0 2rem 0;
		}
		p{
			color:#fff;
			font-size:1.3rem;
			margin:0;
			a{
				color:#fff;
				text-decoration:underline;
				&:visited{
					color:#fff;
				}	
			}
		}
	}

}
