/* navigation bar */

header#nav{
  position:relative;
  z-index:0;

  nav.edfnav{
    
    position:absolute;
    z-index:10;
    left:0px;
    top:0px;
    width:100%;

    &:after{
      content:" ";
      display:block;
      clear:both;
      float:none;
    }

    a.home{
      position:absolute;
      left:0px;
      top:0px;
      display:inline-block;
      img{
        height:130px;
        width:auto;
      }
    }

    button.mobilenav{
      position:absolute;
      right:20px;
      top:48px;
      border:0;
      background-color:transparent;
      span.menu-toggle{
        display:block;
        width:32px;
        height:25px;
        background-image:url(../images/icons/mobile-menu1.png);
        background-repeat:no-repeat;
      }
    }

    div.menu{
      background-color:rgba(0,0,0,0.5);
      position:absolute;
      left:0px;
      top:130px;
      width:100%;
      .s1{
        overflow:hidden;
        max-height:0;
        transition:max-height 0.3s ease;
        .s2{
          text-align:right;
          padding:2rem;
        }
      }
      &.open{
        &{
          .s1{
            max-height:50em;
          }
        }
      }
      ul{
        list-style-type:none;
        padding:0;
        margin:0;
        li{
          display:block;
          a{
            @extend .neuzeit-grotesk-bold;
            display:inline-block;
            padding:0 0 10px 0;
            color:#fff;
            position:relative;
            font-size:18px;
            text-decoration:none;
            &:after{
              content:" ";
              display:none;
              position:absolute;
              left:0;
              bottom:4px;
              width:100%;
              height:6px;
              background-color:$mg;
            }
            &:hover:after,{
              display:block;
            }
          }
          &.current_page_item{
            a:after{
              display:block;
            }
          }
        }
      }

      .secondary{
        display:inline-block;
        margin-left:auto;
        margin-right:0;
      }
    }
  }

.secondary{
  display:inline-block;
  form.searchForm{
    label{
      display:none;  
    }
    button{
      padding:0;
      border:0;
      background-color:transparent;
    }
    button.ellipsis{
      width:28px;
      margin-right:0.5rem;
    }
    button.openSearchBox2{
      img{
        height:20px;
        margin:0 0 0 0.5rem;
      }
    }
    a{
      img{ 
        height:24px;
        margin-right:0.5rem;
      }
    }
    .clipper-out{
      position:relative;
      width:0px;
      height:38px;

      .clipper-in{
        position:absolute;
        top:0px;
        right:0px;
        width:0px;
        height:38px;
        overflow:hidden;
        display:inline-block;
        transition: max-width 0.3s linear;
        .fieldbox{
          position:absolute;
          right:0px;
          width:auto;
          padding-left:40px;

          input.form-control{
            width:250px;
          }

          #closeSearchBox{
            position:absolute;
            left:0px;
            height:38px;
            line-height:38px;
            padding:0;
          }
        }
      }
    }

    &.expanded{
      .clipper-out{
        .clipper-in{
          background-color:rgba(0,0,0,0.5);
          width:300px;
        }
      }
    }
  }
}

  /* */
  @media (min-width:1080px) {
    &{
      nav.edfnav{
        
        position:absolute;
        z-index:10;
        left:0px;
        top:0px;
        width:100%;

        &:after{
          content:" ";
          display:block;
          clear:both;
          float:none;
        }

        a.home{
          position:absolute;
          left:0px;
          top:0px;
          display:inline-block;
          img{
            height:130px;
            width:auto;
          }
        }

        button.mobilenav{
          display:none;
        }

        div.menu{
          background-color:transparent;
          position:static;
          left:0px;
          top:0px;
          display:inline-block;
          width:100%;
          min-height:130px;
          display:flex;
          justify-content:center;

          .s1{
            overflow:hidden;
            max-height:unset;
            .s2{
              text-align:unset;
              padding:0em;
            }
          }

          ul{
            display:flex;
            align-items:center;
            min-height:130px;
            li{
              padding:0.5em;
            }
          }

          .secondary{
            position:absolute;
            right:32px;
            top:0px;
            form.searchForm{
              min-height:130px;
            }
          }
        }
      }
    }
  }
  /* */
}
