/*
Emergent EDF HTML template
December 2020
bootstrap
*/

/* default bootstrap breakpoints
1200 xl
992 lg
768 md
576 sm

	$grid-columns:      12;
	$grid-gutter-width: 30px;

	$grid-breakpoints: (
	  // Extra small screen / phone
	  xs: 0,
	  // Small screen / phone
	  sm: 576px,
	  // Medium screen / tablet
	  md: 768px,
	  // Large screen / desktop
	  lg: 992px,
	  // Extra large screen / wide desktop
	  xl: 1200px
	);

	$container-max-widths: (
	  sm: 540px,
	  md: 720px,
	  lg: 960px,
	  xl: 1140px
	);
*/

@mixin absolute-fill{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

/* fonts */
@import "common/neuzeit-grotesk.scss";
@import "common/fira-sans.scss";

/* misc */
@import "common/mixin.scss";
@import "common/colours.scss";
@import "common/animation.scss";
@import "common/green-rollover.scss";

/* common elements */
@import "common/header.scss";
@import "common/navigation.scss";
@import "common/get-in-touch.scss";
@import "common/footer.scss";


body{
	@extend .fira-sans-light; 
	color:$grey-text;
}
header#nav{
}

.container{
	width:100%;
	padding:0;
	header{
		h2{
			text-align:center;
		}
	}
}


.module{
	header{
		text-align:center;
		padding:2rem;
		h2{
			color:#415f06;
			@extend .neuzeit-grotesk-bold;
			font-size:2rem;
			letter-spacing:2px;
			@media (min-width:520px) {
				&{
					font-size:2.5rem;
				}
			}
		}
		p{
			font-size:1.3rem;
			letter-spacing:2px;
			display:inline-block;
			margin:0 auto;
			max-width:900px;
		}
	}
	.row{
		margin-left:0;
		margin-right:0;
	}
}

.width70percent,
.width90percent{
	margin-left:auto;
	margin-right:auto;
	.row{
		width:100%;
		@media screen and (min-width:640px) {
			&{
				margin-left:auto;
				margin-right:auto;
			}
		}
	}
}

.width90percent{
	.row{
		@media screen and (min-width:640px) {
			&{
				width:90%;
			}
		}
	}
}
.width70percent{
	.row{
		@media screen and (min-width:640px) {
			&{
				width:70%;
			}
		}
	}
}

.fullwWidthVideo{
}

.ComingSoon{
	padding:4rem 0;
	header{
		position:relative;
		h2{
			font-size:49px;
			display:inline-block;
			@extend .neuzeit-grotesk-bold;
		}
		&:after{
			content:" ";
			display:block;
			position:absolute;
			height:8px;
			background-color:$mg;
			width:200px;
			left:50%;
			bottom:0;
			transform:translate(-50%,0);
		}
	}
}

.bgRightTop{
	background-position: right top;
}
.bgLeftTop{
	background-position: left top;
}
.bgRightBottom{
	background-position: right bottom;
}
.bgLeftBottom{
	background-position: left bottom;
}
.bgCentred{
	background-position: center middle;	
}
.bgFiftyFifty{
	background-position: 50% 50%;	
}
.bgNoRepeat{
	background-repeat:no-repeat;
}

/* content blocks */
@import "sections/choices.scss";
@import "sections/three-steps.scss";
@import "sections/dividers.scss";
@import "sections/videoplayer.scss";
@import "sections/alternatingpairs.scss";
@import "sections/explorelinks.scss";
@import "sections/tail.scss";
@import "sections/copy.scss";
@import "sections/checkerboard.scss";
@import "sections/backers.scss";
@import "sections/team.scss";
@import "sections/hubspot.scss";
@import "sections/featuredpost.scss";
@import "sections/older-posts-grid.scss";
@import "sections/blogpost.scss";
@import "sections/newsletterSignUp.scss";
@import "sections/faqs.scss";
@import "sections/incarousel.scss";


.fe1{
	padding-top:4rem;
	.captionEvenInner{
		ul{
			width:100%;
			margin-left:auto;
			margin-right:auto;
			li{
				text-align:left;
				padding-bottom:1rem;
				font-size:1.3rem;
			}
			@media screen and (min-width:640px) {
				&{
					width:75%;
				}
			}
		}
	}
	[class*=col-]{
		.staticImage{
			figure{
				height:0%;
				overflow:hidden;
				position:relative;
				padding-top:75%;
				img{
					position:absolute;
					left:50%;
					top:50%;
					height:100%;
					width:auto;
					min-width:100%;
					transform:translate(-50%,-50%);
					
				}
				@media screen and (min-width:992px){
					&{
						padding-top:0px;
						height:100%;
					}
				}
			}
		}
	}
}

.copy.fe2{
	width:75%;
	margin-left:auto;
	margin-right:auto;
	[class*=col-]{
		.copyBox>div p{ 
			font-size:1.75rem;
		}
	}	
}

.copy{
	&.fe3{
		[class*=col-]{
			.copyBox{
				& > div{ 
					padding-left:2rem;
					padding-right:2rem;
					h3{
					    color: #597f3c;
					    font-size: 1.5rem;
					    font-weight:bold;
					}
					p{
						width:75%;
						margin-left:auto;
						margin-right:auto;
					}
				}
			}
		}
	}
}




