/*
Emergent EDF HTML template
December 2020
bootstrap
*/

$lg : #f8fae5;
$mg : #bacc00;
$dg : #f1f5cc;
$grey-text : #555555;
$team-email : #333828;
$green-header : #415f06;
$footer-grey : #616059;
$team-green : #eaf0b2;
$team-grey : #dfdfde;

@mixin absolute-fill{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

@mixin green-rollover{
	&:after{
		content:" ";
		display:block;
		width:500px;
		height:500px;
		position:absolute;
		left:50%;
		top:50%;
		z-index:25;
		background-color:$mg;
		opacity:0.5;
	    transform: translate(-50%,-50%) scale(0.0) rotate(45deg);
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -ms-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}
	&:hover:after{
		transform: translate(-50%,-50%) scale(4) rotate(45deg);
	}
}

/* default bootstrap breakpoints
1200 xl
992 lg
768 md
576 sm

	$grid-columns:      12;
	$grid-gutter-width: 30px;

	$grid-breakpoints: (
	  // Extra small screen / phone
	  xs: 0,
	  // Small screen / phone
	  sm: 576px,
	  // Medium screen / tablet
	  md: 768px,
	  // Large screen / desktop
	  lg: 992px,
	  // Extra large screen / wide desktop
	  xl: 1200px
	);

	$container-max-widths: (
	  sm: 540px,
	  md: 720px,
	  lg: 960px,
	  xl: 1140px
	);
*/

/* fonts */
@import "common/neuzeit-grotesk.scss";
@import "common/fira-sans.scss";

/* common elements */
@import "common/header.scss";
@import "common/navigation.scss";
@import "common/get-in-touch.scss";
@import "common/footer.scss";


body{
	@extend .fira-sans-light; 
	color:$grey-text;
}
header#nav{
}

.container{
	width:100%;
	padding:0;
	header{
		h2{
			text-align:center;
		}
	}
}


.module{
	header{
		text-align:center;
		padding:2rem;
		h2{
			color:#415f06;
			@extend .neuzeit-grotesk-bold;
			font-size:2.2rem;
			letter-spacing:2px;
		}
		p{
			font-size:1.3rem;
			letter-spacing:2px;
			display:inline-block;
			margin:0 auto;
			max-width:900px;
		}
	}
	.row{
		margin-left:0;
		margin-right:0;
	}
	&.width90percent{
		.row{
			width:90%;
			margin-left:auto;
			margin-right:auto;
		}
	}
}

.lg,.lightGreenBG{
	background-color:$lg;
}
.dg,.darkGreenBG{
	background-color:$dg;
}

.width90percent{
	.row{
		width:90%;
	}
}


.fullwWidthVideo{
}

.ComingSoon{
	padding:4rem 0;
	header{
		position:relative;
		h2{
			font-size:49px;
			display:inline-block;
			@extend .neuzeit-grotesk-bold;
		}
		&:after{
			content:" ";
			display:block;
			position:absolute;
			height:8px;
			background-color:$mg;
			width:200px;
			left:50%;
			bottom:0;
			transform:translate(-50%,0);
		}
	}
}

/* content blocks */
@import "sections/choices.scss";
@import "sections/dividers.scss";
@import "sections/videoplayer.scss";
@import "sections/alternatingpairs.scss";
@import "sections/explorelinks.scss";
@import "sections/tail.scss";
@import "sections/copy.scss";
@import "sections/checkerboard.scss";
@import "sections/backers.scss";
@import "sections/team.scss";





