$maxScale: 1.5;

.pulse{
    -webkit-animation:pulse 1s linear infinite;
    -moz-animation:pulse 1s linear infinite;
    -ms-animation:pulse 1s linear infinite;
    animation:pulse 1s linear infinite;
}
@-ms-keyframes pulse {
     0% { -ms-transform: scale(1); }
     50% {  -ms-transform: scale($maxScale); }
     100% { -ms-transform: scale(1); }
}
@-moz-keyframes pulse {
     0% { -moz-transform: scale(1); }
     50% {  -moz-transform: scale($maxScale); }
     100% { -moz-transform: scale(1); }
}
@-webkit-keyframes pulse {
     0% { -webkit-transform: scale(1); }
     50% { -webkit-transform: scale($maxScale); }
     100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
     0% { transform: scale(1); }
     50% {  transform: scale($maxScale); }
     100% { transform: scale(1); }
}
