.fira-sans-thin{
	font-family: 'Fira Sans', sans-serif;
	font-weight:100;	
}
.fira-sans-light{
	font-family: 'Fira Sans', sans-serif;
	font-weight:300;	
}
.fira-sans-regular{
	font-family: 'Fira Sans', sans-serif;
	font-weight:400;	
}
.fira-sans-bold{
	font-family: 'Fira Sans', sans-serif;
	font-weight:700;	
}

