.neuzeit-grotesk-light {
	font-family: neuzeit-grotesk, sans-serif;
	font-weight: 100;
	font-style: normal;
}
.neuzeit-grotesk-light-italic {
	font-family: neuzeit-grotesk, sans-serif;
	font-weight: 100;
	font-style: italic;
}

/* Neuzeit Grotesk Regular */
.neuzeit-grotesk-regular {
	font-family: neuzeit-grotesk, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* Neuzeit Grotesk Bold */
.neuzeit-grotesk-bold {
	font-family: neuzeit-grotesk, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.neuzeit-grotesk-regular-italic {
	font-family: neuzeit-grotesk, sans-serif;
	font-weight: 400;
	font-style: italic;
}

/* Neuzeit Grotesk Bold */
.neuzeit-grotesk-bold-italic {
	font-family: neuzeit-grotesk, sans-serif;
	font-weight: 700;
	font-style: italic;
}

/* Neuzeit Grotesk Cond Black */
.neuzeit-grotesk-cond-black{
	font-family: neuzeit-grotesk-condensed, sans-serif;
	font-weight: 900;
	font-style: normal;
}

/* Neuzeit Grotesk ExtCond Black */
.neuzeit-grotesk-extcond-black{
	font-family: neuzeit-grotesk-extra-conden, sans-serif;
	font-weight: 900;
	font-style: normal;
}
