.blogpost {
  width: 100%;
  max-width: 90vw;
  margin: 3rem auto 3rem auto;
}
.blogpost .videoPlayer, .blogpost figure {
  width: 50%;
  float: left;
  margin: 0 2rem 2rem 0;
}
.blogpost figure {
  width: 50%;
  float: left;
  margin: 0 2rem 2rem 0;
}
.blogpost figure img {
  width: 100%;
  height: auto;
}
.blogpost:after {
  content: " ";
  display: block;
  clear: both;
  float: none;
}
.blogpost .recent {
  display: block;
}
.blogpost .recent .col {
  width: 100%;
}