$alternationMobileMax: 992px;

.alternatingPairs{
	margin-bottom:4rem;
	
	.row{
		width:100%;
		padding-left:2rem;
		padding-right:2rem;
		margin-bottom:2rem;
		[class*="col-"]{
			padding-left:0;
			padding-right:0;
		}
		&.lg,
		&.dg{
			background-color:#fff;
		}
		&.lg{
			.caption{
				.captionInner{
					background-color:$lg;
				}
			}
		}
		&.dg{
			.caption{
				.captionInner{
					background-color:$dg;
				}
			}
		}
		&:last-child{
			margin-bottom:rem;
		}
	}	
	.vp{
		display:flex;
		align-items:center;
	}
	.caption{
		display:flex;
		justify-content:center;

		@media (min-width:$alternationMobileMax) {
			&{
				padding:30px 0;	
			}
		}
		
		.captionInner{
			text-align:center;
			padding:2rem;
			display:flex;
			align-items:center;
			min-height:100%;
			.captionEvenInner{
				h3{
					color:#415f06;
					@extend .neuzeit-grotesk-bold;
				}
				p{
					font-size:1.3rem;
				}
				a{
					@extend .neuzeit-grotesk-bold;
					color:#415f06;
					text-decoration:none;
					font-size:1.3rem;
					&:visited{
						color:#415f06;
						text-decoration:none;
					}				
					&:hover{
						text-decoration:underline;
					}
				}
			}
		}
	}
	@media (screen and min-width:$alternationMobileMax) {
		&{
			.vl{
				.vp{order:1;}
				.caption{order:2;}
			}
			.vr{
				.vp{order:2;}
				.caption{order:1;}
			}
		}
	}
}

.staticImage{
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	figure{
		width:100%;
		margin:0;
		img{
			width:100%;
			height:auto;
		}
	}
}
