.backers{
	background-color:$green-header;
	background-image:url('../images/misc/leaf-background.png');
	background-repeat:no-repeat;
	background-position:right bottom;
	background-size:25% auto;
	padding-bottom:4rem;
	header{
		text-align:center;
		h2,p{color:#fff;}
	}
	[class*="col-"]{
		.copybox{
			padding:1em 0em;
			img{
				width:280px;
				margin:0 auto 1rem auto;
				display:block;
			}
			p{
				color:#fff;
				text-align:center;
				font-size:1.2rem;
				letter-spacing:1px;
			}
			@media (min-width:400px){
				&{
					padding:1em 2em;
					img{
						width:auto;
						margin:0 auto 1rem auto;
						display:block;
					}
					p{}
				}
			}
		}
	}

	@media screen and (min-width:577px) and (max-width:992px) {
		&{
			[class*="col-"]{
				flex-basis:50%;
				max-width:50%;
				.copybox{
					
					img{
						width:100%;
						max-width:max-content;
						margin-left:0;
						margin-right:auto;
						display:block;
					}

				}
				&:nth-child(odd){
					&:before{
						display:none;
					}
				}
			}
		}
	}

	@media (screen and min-width:992px) {
		&{
			[class*="col-"]{
				.copybox{
					img{
						width:100%;
						max-width:max-content;
						margin-left:0;
						margin-right:auto;
						display:block;
					}
					p{
						text-align:left;
					}
				}
				&:nth-child(4){
					margin-left:16.7%;
				}
			}

			&.dividers{
				[class*="col-"]{
					
					&:before{
						position:absolute;
						left:-1px;
						top:50%;
						width:2px;
						height:75%;
						transform:translate(0,-50%);
					}
				}
				@media (min-width:992px){
					&{
						[class*="col-"]{
							&:nth-child(4):before{
								display:none;
							}
						}
					}
				}
			}

		}
	}
}

/*
home page variant of 'Our supporters' block
5 columns, no copy
*/
.homeBackers{
	background-image:none;

	.row{
		.col{
			width:100%;
			flex-basis:100%;
			max-width:100%;
			margin-bottom:1em;
			&:nth-child(5){
				margin-bottom:0em;
			}
			.copybox{
				text-align:center;
				img{
					width:75%;
					margin:0 auto;
				}
			}
		}
	}

	@media screen and (min-width:577px) and (max-width:992px) {
		&{
			.row{
				.col{
					width:50%;
					flex-basis:50%;
					max-width:50%;
					&:nth-child(5){
						margin-left:25%;
					}
				}
			}
		}
	}
	@media (screen and min-width:992px) {
		&{
			.row{
				.col{
					width:20%;
					flex-basis:20%;
					max-width:20%;
				}
			}
		}
	}
}
