.blogpost{
	width:100%;
	max-width:90vw;
	margin:3rem auto 3rem auto;

	.row{
		display:flex;
		flex-wrap:wrap;
	}
	section{
		padding-left:0;
		padding-right:0;
		&.recent{
			order:2;
			header{
				
				margin:0;
				padding:0;
				h2{
					font-size:1.5rem;
					margin-bottom:1rem;
				}
			}
		}
		&.main{
			order:1;
			flex-basis:100%;
			header{
				padding-top:0;
				h1{
					@extend .neuzeit-grotesk-bold;
				}
			}
			.videoPlayer,figure{
				width:100%;
				float:none;
				margin:0 0rem 2rem 0;
			}
			figure{
				img{
					width:100%;
					height:auto;
				}
			}
			& > div:after{
				content:" ";
				display:block;
				clear:both;
				float:none;
			}
			& > a{
				font-size:1.3rem;
				@extend .neuzeit-grotesk-bold;
				
				color:$green-header;
			}
			& > div > p > a{
				@extend .neuzeit-grotesk-bold;
				color:$green-header;
			}
		}
	}
	.recent{
		.row{
			display:flex;
			flex-wrap:wrap;
			.col{
				padding:0 5px 2rem 5px;
				width:100%;
				flex-basis:100%;
				box-sizing:border-box;
				figure{
					width:100%;
					margin:0 0 1rem 0;
					overflow:hidden;
					img{
						width:100%;
						height:auto;
					}
				}
				h3{
					font-size:1.3rem;
					@extend .neuzeit-grotesk-bold;
					color:$green-header;
					a{
						color:$green-header;
					}
				}
				.outer{
					height:100%;
					&:nth-child(odd){
						background-color:$lg;
					}
					&:nth-child(even){
						background-color:$dg;
					}
					
					figure.inner{
						position:relative;
						overflow:hidden;
						z-index:1;
						margin:0;
						padding-top:100%;
						@include green-rollover;

						background-repeat:no-repeat;
						background-size:cover;
						background-position:50% 50%;
						
						img{
							display:none;
							position:absolute;
							z-index:1;
							width:100%;
							height:100%;
							left:0;
							top:0;
							object-fit:cover;
							object-position:top;
							cursor:pointer;
						}
						a{
							position:absolute;
							z-index:50;
							width:100%;
							height:100%;
							left:0;
							top:0;
							display:block;
							cursor:pointer;
							span{
								width:0px;
								height:0px;
								overflow:hidden;
								display:block;
							}
						}
					}
					.copybox{
						padding:1rem;
					}
				}
			}
		}
	}
}

/*
sm: 540px,
md: 720px,
lg: 960px,
xl: 1140px
*/

@media screen and (min-width:640px) and (max-width:991px) {
	.blogpost{
		.row{
			.recent{
				.row{
					flex-wrap:nowrap;
					.col{
						padding:0 5px 2rem 5px;
						width:33.3%;
						flex-basis:33.3%;
					}
				}
			}
		}
	}
}

@media screen and (min-width:992px) {
	.blogpost{
		.row{
			flex-wrap:nowrap;
		}
		section{
			&.recent{
				order:1;
				width:320px;
				max-width:320px;
				flex-basis:320px;
				margin-right:1rem;
				header{
					margin:0;
					padding:0;
				}
				.row{
					flex-wrap:wrap;
					.col{
						width:100%;
						flex-basis:100%;
					}
				}
			}
			&.main{
				flex-basis:100%;
				width:100%;
				max-width:100%;
				order:2;
				.videoPlayer,figure{
					width:100%;
					float:none;
					margin:0 0 2rem 0;
					img{
						width:100%;
						height:auto;
					}
				}
			}
		}
	}
}

@media screen and (min-width:992px) and (min-width:1300px){
	.blogpost{
		section{
			&.main{
				.videoPlayer,figure{
					width:50%;
					float:left;
					margin:0 2rem 2rem 0;
					img{
						width:100%;
						height:auto;
					}
				}
			}
		}
	}
}