.checkerboard{
	padding-top:0;
	padding-bottom:0;
	[class*="col-"]{
		margin-bottom:0;
		padding-bottom:0;
		display:flex;
		align-items:center;
		
		.copybox{
			padding:1rem 2rem;
			h2{
				color:$green-header;

				position:relative;
				width:auto;
				margin-left:auto;
				margin-right:auto;
				display:inline-block;
				margin-bottom:1rem;
				&:after{
					content:" ";
					display:block;
					background-color:$mg;
					width:100%;
					height:5px;
					position:absolute;
					left:50%;
					bottom:-7px;
					transform: translate(-50%,0);
				}

			}
		}
		&:first-child{
			.copybox{
				padding-top:1em;
			}
		}
		&:nth-child(2n + 1){
			background-color:$lg;
		}
	}
	@media (screen and min-width:576px) {
		&{
			.row{
				&:nth-child(2n){
					[class*="col-"]{
						&:nth-child(2n){
							background-color:$lg;
						}
						&:nth-child(2n + 1){
							background-color:#fff;
						}
					}
				}
				&:nth-child(2n + 1){
					[class*="col-"]{
						&:nth-child(2n){
							background-color:#fff;
						}
						&:nth-child(2n + 1){
							background-color:$lg;
						}
					}
				}
			}
			[class*="col-"]{
				min-height:200px;
			}
		}
	}
}
