
.choices3{
	paddingleft:2rem;
	padding-right:2rem;
	header{
		h2{
			@extend .neuzeit-grotesk-bold;
			color:$green-header;
			position:relative;
			width:auto;
			margin-left:auto;
			margin-right:auto;
			display:inline-block;
			letter-spacing:2px;
			&:after{
				content:" ";
				display:block;
				background-color:$mg;
				width:50%;
				height:5px;
				position:absolute;
				left:50%;
				bottom:-20px;
				transform: translate(-50%,0);
			}

		}

	}
	padding-bottom:4rem;
	.row{
		padding-bottom:50px;
		[class*="col-"]{
			padding:3rem 2rem 3rem 2rem;
		}
	}
	.boxo{
		position:relative;
		width:100%;
		height:100%;
	}
	.boxi,.boxii{
		width:100%;
		height:100%;
	}
	.boxi{
		position:relative;
		left:0px;
		top:0px;
		z-index:5;
		height:100%;
		@extend .lg;
		opacity:0.95;
	}
	.boxii{
		position:absolute;
		left:2rem;
		top:2rem;
		z-index:1;
		background-repeat:no-repeat;
		background-size:cover;
	}
	figure{
		position:absolute;
		left:50%;
		top:0;
		transform:translate(-50%,-50%);
		width:80px;
		img{
			width:100%;
			height:auto;
		}
	}
	.relflex{
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
		height:100%;
	}
	.copy{
		padding:60px 2rem 60px 2rem;
		text-align:center;
		h3{
			@extend .neuzeit-grotesk-bold;
			color:#597f3c;
			font-size:1.5rem;
			margin-bottom:1rem;
		}
		p{
			font-size:1.2rem;
		}

	}
	@media (min-width:992px){
		&{
			.row{
				[class*="col-"]{
					&:nth-child(2){
						transform:translate(0,50px);
					}

				}
			}
			.boxi{
				min-height:25vw;
			}
			figure{
				width:110px;
			}
			.copy{
				padding-top:80px;
				padding-bottom:80px;
			}
		}
	}
}

body.ie11fix{
	@media (min-width:992px){
		.choices3{
			.boxi{
				align-items:baseline;
			}
		}
	}
}