.copy{
	padding-top:2rem;
	padding-bottom:2rem;
	color:$grey-text;
	text-align:center;
	[class*="col-"]{
		
		margin-bottom:1em;
		.contentBox{
			display:flex;
			align-items:center;
			justify-content:center;
			min-height:100%;
			& > div{
				width:100%;
				padding-left:1rem;
				padding-right:1rem;
				box-sizing:border-box;
			}
		}

		.copyBox{
			& > div{
				padding:1em 2rem 0 2rem;
				position:relative;

					h2{
						color:$green-header;
						@extend .neuzeit-grotesk-bold;
						font-size:2.3rem;
						margin-bottom:2.3rem;
					}
					p{
						font-size:1.2rem;
						letter-spacing:1px;
						margin:0;
						padding:0rem 0 2.5rem 0;
						a{
							color:$green-header;
							@extend .neuzeit-grotesk-bold;
						}
					}
					ul{
						li{
							text-align:left;
						}
					}
					a.stickToBottom{
						@extend .neuzeit-grotesk-bold;
						position:absolute;
						bottom:0em;
						left:50%;
						transform:translate(-50%,0);
						color:$grey-text;
						font-size:1.4rem;
						letter-spacing:2px;
					}
			}
		}

		.quoteBox{
			& > div{
				padding-top:2rem;
				padding-bottom:2.5rem;
				blockquote{
					@extend .neuzeit-grotesk-bold-italic;
					color:$green-header;
					font-size:2rem;
					line-height:1.2em;
					margin:0 0 1.5rem;

				}
				p{
					color:#bbcc4e;
					@extend .neuzeit-grotesk-bold;
					margin:0;
					text-transform:uppercase;
					letter-spacing:0.1rem;
				}
			}
		}

		/* 0,2,4,... */
		&:nth-child(2n){
		}

		&:first-child{
			.copybox{
				padding-top:0em;
			}
		}
		/*
		&:last-child{}
		*/

		@media (screen and min-width:576px) {
			&{
				/* left hand column 1,3,5,... */
				&:nth-child(2n + 1){
					&:before{
						display:none;
					}
				}
				.copybox{
					padding-top:0em;
				}
			}
		}
	}	

	&.largemargins{
		padding-top:5rem;
		padding-bottom:3rem;
		[class*="col-"]{
			h2{
				margin-bottom:2.5rem;				
			}
		}
	}

	&.dividers{
		[class*="col-"]{
			&:before{
			}

		}
	}
	&.limitPara{
		[class*="col-"]{
			.copyBox{
				& > div{
					p{
						padding:0 10% 2.5rem 10%;
					}
				}
			}
		}
	}
}
