.exploreLinks{
	.row{
		padding:8px 4px;
		box-sizing:border-box;
	}
	[class*="col-"]{
		padding:0px 4px;
		box-sizing:border-box;

		.inner{
			position:relative;
			overflow:hidden;

			@include green-rollover;

			.frame{
				z-index:1;
				img{
					width:100%;
					height:auto;
				}
			}
			.label{
				position:absolute;
				z-index:5;
				width:100%;
				height:100%;
				left:0;
				top:0;
				display:flex;
				align-items:center;
				flex-wrap: nowrap;
				h2{
					@extend .neuzeit-grotesk-regular;
					text-align:center;
					width:100%;
					color:#fff;
					letter-spacing:2px;

					position:relative;
					span{
						font-size:0.5em;
						display:block;
						width:100%;
						position:absolute;
						top:3rem;
						left:0%;

					}
				}
			}
			a.action{
				position:absolute;
				z-index:30;
				width:100%;
				height:100%;
				left:0;
				top:0;
			}
		}
	}
	
}
