	/*
	.row{
		section{
			& > header{
				margin:0;
				padding:0;
				display:block;
				h3{}
				p{
					display:block;
					margin:0 0 1rem 0;
					text-align:center;
					max-width:unset;
				}
			}
			article{
				margin:0 0 2rem 0;
				padding:0;
				& > header{
					margin:0;
					padding:0;
					text-align:left;
					h4{
						display:inline-block;
						text-align:left;
						margin:0;
						padding:0;
						position:relative;
						padding-right:30px;
						background-color:#bfbfbf;
						cursor:pointer;
						&:after{
							content:'+';
							position:absolute;
							top:0px;
							right:0px;
						}
						&:hover:after{
						    -webkit-animation:pulse 1s linear infinite;
						    -moz-animation:pulse 1s linear infinite;
						    -ms-animation:pulse 1s linear infinite;
						    animation:pulse 1s linear infinite;
						}
					}
				}
				.outer{
					overflow:hidden;
					max-height:0;
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-ms-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;

					.inner{
						padding-top:1rem;
						p{}
						ul{
							li{}
						}
						ol{
							li{}
						}
					}
				}
				&.open{
					&{
						.outer{
							max-height:100em;
						}
						header{
							h4{
								&:after{
									content:'-';
								}
							}
						}
					}
				}
			}
		}
	}
	*/
