.faqs{
	margin-top:4rem;
	margin-bottom:4rem;
	& > header{
		.intro{
			text-align:center;
			p{
				display:block;
				margin-bottom:1rem;
			}
		}
	}

	.faqGroup{
		& > header{
			padding:0 0 1rem 0;
			width:100%;
			h3{
				color:#415f06;
				@extend .neuzeit-grotesk-regular;
				font-size:2rem;
				letter-spacing:2px;
				text-align:left;
				width:100%;
				position:relative;
				padding-bottom:0.5rem;
				border-bottom:2px solid $team-green;
				cursor:pointer;
				&:after{
					content:"+";
					position:absolute;
					right:0px;
					top:0px;					
				}
			}
		}
		& > .outer{
			overflow:hidden;
			max-height:0;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;

		}
		&.open{
			& > header{
				h3{
					&:after{
						content:"-";
					}
				}
			}
			& > .outer{
				max-height:500rem;
			}
		}
		ol.subfaqs{
			list-style-type:none;
			padding-left:0;
			li{
				padding-left:0rem;
				padding-right:0rem;

				@media (min-width:768px){
					&{
						padding-left:4rem;
						padding-right:8rem;
					}
				}
				article{
					margin-bottom:1rem;
					header{
						text-align:left;
						padding:0 0 0 4rem;
						h4{
							color:#415f06;
							@extend .neuzeit-grotesk-light;
							font-size:1.6rem;
							letter-spacing:2px;
							position:relative;
							cursor:pointer;
							padding-right:2rem;
							span{
								position:absolute;
								left:-4rem;
								top:0;
							}

							&:hover:after{
								position:absolute;
								right:0rem;
								top:0;
								content:"+";
								@extend .neuzeit-grotesk-bold;
								/*
								position:absolute;
								right:0px;
								top:0px;					
								*/
							}
						}
					}
					.outer{
						overflow:hidden;
						max-height:0;
						-webkit-transition: all 0.3s ease;
						-moz-transition: all 0.3s ease;
						-ms-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
						transition: all 0.3s ease;
						.inner{
							padding-left:4rem;
							ul,ol{
								margin-bottom:1rem;
							}
						}
					}
					&.open{
						header{
							h4{
								&:hover:after{
										content:"-";
								}
							}
						}
						.outer{
							max-height:100rem;				
						}
					}
				}
			}
		}
	}
}