.featuredPost{
	background-color:$lg;
	padding:2rem;
	.row{
		[class*="col-"]{
			padding:0;
		}
	}
	.latestThumbmnail{
		figure{
			position:relative;
			overflow:hidden;
			z-index:1;
			padding-top:50%;
			margin:0;
			img{
				position:absolute;
				z-index:1;
				width:100%;
				height:100%;
				left:0;
				top:0;
				object-fit:cover;
				object-position:top;
			}
		}
	}

	.latestInfo{
		.copybox{
			padding:1rem;
			h2{
				color:#415f06;
				@extend .neuzeit-grotesk-bold;
				a{
					font-size:2rem;
				}
			}
			p{
				font-size:1.3rem;
			}
			a{
				@extend .neuzeit-grotesk-bold;
				color:#415f06;
				text-decoration:none;
				font-size:1.3rem;
				&:visited{
					color:#415f06;
					text-decoration:none;
				}				
				&:hover{
					text-decoration:underline;
				}
			}
		}
	}
}