/*
incarousel.scss
*/

.carousel{
	padding-left:8px;
	padding-right:8px;
	box-sizing:border-box;

	.inca{
		position:relative;
		z-index:0;
		.items{
			overflow:hidden;
			&:after{
				content:' ';
				display:block;
				float:none;
				clear:both;
			}
		}
		.item{
			min-height:100px;
			width:100%;
			position:relative;
			margin-right:-100%;
			float:left;
			@include hardware-acceleration1;

			&.transitionx{
				@include transleft;
			}
			&.active{

			}
		}
		.control{
			position:absolute;
			height:100%;
			width:64px;
			top:0px;
			z-index:10;
			background-color:rgba(127,127,127,0.5);
			display:flex;
			align-items:center;
			justify-content:center;
			cursor:pointer;
			opacity:0;
			@include trans2(0.3s);
			&:hover{
				opacity:1;
			}
			img{}
			&.left{
				left:0px;
				right:auto;
			}
			&.right{
				left:auto;
				right:0px;
			}
		}
		.index{
			position:absolute;
			z-index:10;
			bottom:1.5rem;
			left:50%;
			@include translateX(-50%);
			display:flex;
			align-items:center;
			justify-content:center;

			display:none;
			ul{
				width:auto;
				display:inline-block;
				margin:0;
				padding:0;
				list-style-type:none;
				&:after{
					content:' ';
					display:block;
					float:none;
					clear:both;
				}
				li{
					width:auto;
					display:inline-block;
					text-indent:-999em;
					overflow:hidden;
					width:20px;
					height:20px;
					background-color:#fff;
					cursor:pointer;
					float:left;
					margin-left:10px;
					border-radius:10px;
					@include outerShadow(8px);
					@include bgcolortrans(0.3s);
					&:first-child{
						margin-left:0px;
					}
					&.active{
						background-color:#000;
						cursor:default;
					}
					&:hover:not(.active){
						background-color:$green-header;
					}
				}
			}
		}
	}

	.inca{
		.item{
			.row{
				margin-left:0px;
				margin-right:0px;
				[class*="col-"]{
					padding-left:0px;
					padding-right:0px;
					&.image{
						img{
							width:100%;height:auto;
						}
					}
					&.copy{
						display:flex;
						align-items:center;
						justify-content:left;
						div{
							text-align:left;
							padding:2rem;
							box-sizing:border-box;

							position:relative;
							left:100%;
							opacity:0;
							@include trans;

							h3{
								@extend .neuzeit-grotesk-bold;
							}
							p{}
						}
					}
				}
			}
			&.focus{
				.row{
					[class*="col-"]{
						&.copy{
							div{
								left:0%;
								opacity:1;
							}
						}
					}
				}
			}
		}
	}
	#h1{
		
	}
	#h2{
		
	}
	#h3{
		
	}
	#h4{
		
	}

}