/*
newsletterSignUp
blocks/newsletterSignUp.php

/images/home/newsletter.jpg
*/

.newsletterSignUp{
	background-image:url('../images/home/newsletter.jpg');
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
	margin-bottom:3rem;
	.row{
		width:100%;
		margin:0;
		.col{
			min-height:300px;
			display:flex;
			align-items:center;
			justify-content:center;
			div{
				
				padding:2rem;
				text-align:center;
				h2{
					color:#fff;
					@extend .neuzeit-grotesk-bold;
					font-size:2.4rem;
					letter-spacing:1px;
					margin-bottom:1rem;
				}
				h3{
					color:#fff;
					@extend .neuzeit-grotesk-light;
					font-size:1.5rem;
					margin-bottom:2rem;
				}
				a{
					display:inline-block;
					min-width:200px;
					background-color:#fff;
					padding:5px 0;
					color:#000;
					text-decoration:none;
					&:hover{
						background-color:$dg;
					}
				}
			}
		}
	}
}