.olderPostsGrid{
	padding:2rem;
	figure.inner{
		position:relative;
		overflow:hidden;
		z-index:1;
		margin:0;
		padding-top:100%;
		@include green-rollover;

		background-repeat:no-repeat;
		background-size:cover;
		background-position:50% 50%;
		
		img{
			display:none;
			position:absolute;
			z-index:1;
			width:100%;
			height:100%;
			left:0;
			top:0;
			object-fit:cover;
			object-position:top;
			cursor:pointer;
		}
		a{
			position:absolute;
			z-index:50;
			width:100%;
			height:100%;
			left:0;
			top:0;
			display:block;
			cursor:pointer;
			span{
				width:0px;
				height:0px;
				overflow:hidden;
				display:block;
			}
		}
	}
	.copybox{
		padding:1rem 1rem 3rem 1rem;
		h2{
			color:#415f06;
			@extend .neuzeit-grotesk-bold;
			a{
				font-size:2rem;
			}
		}
		p{
			font-size:1.3rem;
		}
		a{
			@extend .neuzeit-grotesk-bold;
			color:#415f06;
			text-decoration:none;
			font-size:1.3rem;
			&:visited{
				color:#415f06;
				text-decoration:none;
			}				
			&:hover{
				text-decoration:underline;
			}
			&.findoutmore{
				position:absolute;
				left:1rem;
				bottom:1rem;
			}
		}
	}
	.row{
		margin-left:-5px;
		margin-right:-5px;
	}
	[class*="col-"]{
		padding:0px 5px;
		margin-bottom:10px;
		.outer{
			min-height:100%;
			position:relative;
			overflow:hidden;
		}
		&:nth-child(odd){
			.outer{
				background-color:$lg;
			}
			
		}
		&:nth-child(even){
			.outer{
				background-color:$dg;
			}
		}
	}
	.paging{
		padding:1rem 0;
		.col{
			display:flex;
			align-items:center;
		}
		p{
			display:inline-block;
			margin:0 1rem 0 0;
		}
		ul{
			list-style-type:none;
			padding:0;
			margin:0;
			display:inline-block;
			:after{
				content:" ";
				display:block;
				clear:both;
				float:none;
			}
			li{
				display:inline-block;
				float:left;
				color:$grey-text;
				font-weight:bold;
				margin-right:2px;
				a{
					display:inline-block;
					padding:0 1rem;
					font-weight:normal;
					background-color:$lg;
					&:hover{
						text-decoration:underline;
					}
				}
				&.current{
					padding:0 1rem;
					background-color:$dg;
					span{
						display:none;
					}
				}
			}
		}
	}
}

body.ie11fix{
	.olderPostsGrid{
		figure.inner{
			background-repeat:no-repeat;
			background-size:cover;
			background-position:50% 50%;
			img{
				display:none;
			}
		}
	}
}