.tail{
	&.noLogo{
		padding-top:5rem;
	}

	.background{
		position:relative;
		overflow:hidden;
		z-index:1;
		img.bg{
			position:absolute;
			z-index:1;
			width:100%;
			height:100%;
			left:0;
			top:0;
			object-fit:cover;
			object-position:top;
		}

		&.imageFade{
			background-color:#000;
			img.bg{
				opacity:0.75;
			}
		}
	}
	.top{
		position:relative;
		z-index:5;
		min-height:300px;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	.caption{
		padding:8rem 2rem 1em 2em;
		p{
			text-align:center;
			color:$mg;
			&.quote{
				font-size:35px;
				color:#fff;
				@extend .neuzeit-grotesk-regular;
			}
		}
	}
	.bottom{
		position:relative;
		z-index:5;
	}
	img{
		display:block;
		&.green-logo{
			height:110px;
			margin-bottom:-1rem;
			margin-left:auto;
			margin-right:auto;
		}
		&.curve{
			margin-bottom:-10px;
			width:100%;
		}
	}
	.message{
		background-color:$mg;
		padding:0rem 2rem 4rem 2rem;
		h2,p{
			text-align:center;
		}
		h2{
			color:#fff;
			@extend .neuzeit-grotesk-light;
			font-size:34px;
			margin-bottom:1rem;
			a{
				color:#fff;
			}
		}
		p{
			font-size:20px;
			letter-spacing:2px;
			a{
				color:$grey-text;
				text-decoration:underline;
				&:visited{
					color:$grey-text;
				}
			}
		}
	}
}

body.ie11fix{
	.tail{
		.bottom{
			overflow:hidden;
		}
		img.curve{
			width:102%;
			position:relative;
			top:0;
			left:-1%;
		}
	}
}
