.team{
	margin-top:2rem;
	margin-bottom:2rem;
	.row{
		[class*="col-"]{
			padding:12px;


			.frame{
				img{
					width:100%;
					display:block;
				}
			}

			.copybox{
				padding:1.2rem 1rem 1.2rem 1rem;
				min-height:100%;
				display:block;

				/*
				figure{
					overflow:hidden;
					max-height:0;
					transition: all 0.3s ease;
					margin:0;
					img{
						width:100%;
						max-width:200px;
						margin-bottom:1em;
						border:3px solid #fff;
					}
				}
				*/

				figure{
					margin:0;
					overflow:hidden;
					img{
						width:100%;
						max-width:200px;
						margin-bottom:1em;
						border:3px solid #fff;
						cursor:pointer;
					}
				}

				.name{
					position:relative;
					z-index:1;
				}

				.linkedin{
					position:absolute;
					right:0;
					top:0;
					width:26px;
					height:26px;
					img{
					}
				}
				h3{
					color:$grey-text;
					@extend .neuzeit-grotesk-bold;
					font-size:1.3rem;
					margin-bottom:0.5rem;
					cursor:pointer;
					em{
						@extend .neuzeit-grotesk-light-italic;
						font-size:1.3rem;
						flex-basis:100%;
					}
					&:after{
						content: "+";
						margin-left:0.5rem;
						display:inline-block;
					}
					@media (min-width:620px) {
						&{
							font-size:1.6rem;
						}
					}
					&:hover{
						&:after{
						    -webkit-animation:pulse 1s linear infinite;
						    -moz-animation:pulse 1s linear infinite;
						    -ms-animation:pulse 1s linear infinite;
						    animation:pulse 1s linear infinite;
						}
					}
				}
				h4{
					font-size:1.2rem;
					color:$grey-text;
					@extend .neuzeit-grotesk-regular;
				}
				p{
					color:$team-email;
					margin-bottom:0;
				}
				.slideA{

					overflow:hidden;
					max-height:0;
					transition: max-height 0.3s ease;
					.slideB{
						p{
							margin-top:0.5rem;
						}
					}
				}
				/* &:hover,
				&:focus, */
				&.open{
					figure{
						max-height:50rem;
					}		
					h3:after{
						content: "-";
						margin-left:0.5rem;
					}
					.slideA{
						max-height:35rem;
					}					
				}
			}

			@media (min-width:576px) and (max-width:768px){
				&{
					.copybox{
						figure{
							float:left;
							max-height:unset;
							width:20%;
							width:200px;
							height:auto;
							margin-right:1rem;
						}
						/*
						figure{
							float:left;
							max-height:unset;
							width:0%;
							img{
								margin-right:1rem;
							}
						}
						&.open{
							figure{
								float:left;
								max-height:unset;
								width:20%;
								width:200px;
								height:auto;
								margin-right:1rem;
							}
						}
						*/
					}
					
				}
			}

			@media (max-width:768px){
				&{
					flex-basis:100%;
					max-width:100%;
					/* single column A-B alternation */
					&:nth-child(even){
						.copybox{
							background-color:$team-grey;
							&:hover{
							}
						}
					}
					&:nth-child(odd){
						.copybox{
							background-color:$team-green;
							&:hover{
							}
						}
					}
				}
			}

			@media (max-width:1100px) and (min-width:767px){
				&{
					flex-basis:50%;
					max-width:50%;

					/* double column A-B-B-A alternation */
					&:nth-child(4n){
						.copybox{
							background-color:$team-green;
							&:hover{
							}
						}
					}
					&:nth-child(4n+1){
						.copybox{
							background-color:$team-green;
							&:hover{
							}
						}
					}
					&:nth-child(4n+2){
						.copybox{
							background-color:$team-grey;
							&:hover{
							}
						}
					}
					&:nth-child(4n+3){
						.copybox{
							background-color:$team-grey;
							&:hover{
							}
						}
					}

				}
			}

			@media(min-width:1101px){
				&{
					/* three column A-B-A alternation */
					&:nth-child(even){
						.copybox{
							background-color:$team-grey;
							&:hover{
							}
						}
					}
					&:nth-child(odd){
						.copybox{
							background-color:$team-green;
							&:hover{
							}
						}
					}
				}
			}

		}
	}

	&.boardmembers{
		margin-bottom:5rem;
		.row{
			[class*="col-"]{
				padding:12px;
				.copybox{
					height:100%;
					min-height:12rem;
					h3{
						margin-bottom:1rem;
						cursor:default;
						&:after{
							display:none;
						}
					}
					h4{
						
					}
				}
			}
		}
	}	
}

