.complex{
	background-color:#f8fae5;
	padding-top:2rem;
	padding-bottom:4rem;

	.copy{
		width:100%;
		height:100%;
		box-sizing:border-box;
		padding:0 1rem;
		h3{
		}
		figure{
			height:100px;
			display:flex;
			justify-content:center;
			align-items:center;
			img{}
		}
		p{}
	}

	.row{
		[class*="col-"]{
			figure.order{
				margin:0 0 1rem 0;
				position:relative;
				img{
					position:relative;
					z-index:2;
					display:block;
					margin:0 auto;					
				}
				&:before{
					position:absolute;
					left:10%;
					top:41px;
					width:80%;
					height:4px;
					background-color: $mg;
					content:" ";
					z-index:1;
				}
			}
		}
	}

	@media (min-width:640px){
		.copy{
			padding:0 4rem;
		}
	}

	@media (max-width:991px){
		.row{
			[class*="col-"]{
				background-image:none !important;
				&.c2{
					.boxi{
						background-image:none !important;
					}
				}
			}
		}	
	}

	@media (min-width:992px){
		.row{
			[class*="col-"]{
				figure.order{
					margin:0;
					position:absolute;
					top:0px;
					left:0px;
					width:100%;
					img{
						display:block;
						margin:0 auto;					
					}
					&:before{
						display:none;
					}
				}
				&.c2{
					figure.order{
						top:auto;
						bottom:0;
					}
				}
			}		
		}
	}

	@media (min-width:992px) and (max-width:1112px) {
		.row{
			[class*="col-"]{
				background-repeat:no-repeat;
				background-size:contain;
				padding-top:20%;
				padding-bottom:20%;
				padding-left:0px;
				padding-right:0px;

				&.c1{
					margin-left:5px;
				}				
				&.c2{
					margin-left:-5px;
					margin-right:-5px;
					background-position:left bottom;
					.boxi{
						background-size:contain;
					}
				}
				&.c3{
					
				}
				.boxi{
					position:relative;
					width:100%;
					height:80px;
					.copy{
						position:absolute;
						left:0px;
						top:-100px;
					}
				}
			}
		}
	}	

	@media (min-width:1113px) {
		.row{
			[class*="col-"]{
				background-repeat:no-repeat;
				background-size:100%;
				padding-top:224px;
				padding-bottom:224px;
				padding-left:0px;
				padding-right:0px;
				position:relative;
				.boxi{
					width:100%;
					height:100%;
					position:relative;
					height:50px;
					.copy{
						position:absolute;
						left:0px;
						top:-100px;
					}
				}
				&.c1{
					width:375px;
					background-position:left top;
				}
				&.c2{
					margin-left:-6px;
					margin-right:-6px;

					width:375px;
					background-position:left bottom;
					.boxi{
						background-repeat:repeat-y;;
						background-position:left top;
					}
				}
				&.c3{
					width:375px;
					background-position:left top;
				}
			}
			width:1125px;
			margin:0 auto;
		}
		header{
			text-align:center;
			h2{
				width:80%;
				margin:0 auto;
			}
		}
	}
}
