.alternatingPairs{
	.row{
		width:100%;
	}	
	.vp{
		padding:36px 40px;

	}
	.caption{
		display:flex;
		align-items:center;
		.captionInner{
			text-align:center;
			padding:2rem;
			h3{
				color:#415f06;
				@extend .neuzeit-grotesk-bold;
			}
			p{}
			a{
				@extend .neuzeit-grotesk-bold;
				color:#415f06;
				text-decoration:none;
				&:visited{
					color:#415f06;
					text-decoration:none;
				}				
				&:hover{
					text-decoration:underline;
				}
			}
		}
	}
	@media (screen and min-width:576px) {
		&{
			.vl{
				.vp{order:1;}
				.caption{order:2;}
			}
			.vr{
				.vp{order:2;}
				.caption{order:1;}
			}
		}
	}
}
