.backers{
	background-color:$green-header;
	background-image:url('../images/misc/leaf-background.png');
	background-repeat:no-repeat;
	background-position:right bottom;
	background-size:25% auto;
	header{
		text-align:center;
		h2,p{color:#fff;}
	}
	[class*="col-"]{
		.copybox{
			padding:1em 2em;
			img{
				width:auto;
				margin:0 auto 1rem auto;
				display:block;
			}
			p{
				color:#fff;
				text-align:center;
				font-size:1.2rem;
				letter-spacing:1px;
			}
		}
	}

	@media screen and (min-width:577px) and (max-width:992px) {
		&{
			[class*="col-"]{
				flex-basis:50%;
				max-width:50%;
				.copybox{
					
					img{
						width:100%;
						max-width:max-content;
						margin-left:0;
						margin-right:auto;
						display:block;
					}

				}
				&:nth-child(odd){
					&:before{
						display:none;
					}
				}
			}
		}
	}

	@media (screen and min-width:992px) {
		&{
			[class*="col-"]{
				.copybox{
					img{
						width:100%;
						max-width:max-content;
						margin-left:0;
						margin-right:auto;
						display:block;
					}
					p{
						text-align:left;
					}
				}
			}

			&.dividers{
				[class*="col-"]{
					position:relative;
					&:before{
						position:absolute;
						left:-1px;
						top:50%;
						width:2px;
						height:75%;
						transform:translate(0,-50%);
					}
				}
			}

		}
	}
}
