.choices{
	padding-bottom:2rem;
	.row{
		[class*="col-"]{
			margin-bottom:1rem;
		}
	}
	.icon{
		padding:1rem 0;
		margin-bottom:1rem;
		img{
			height:120px;
			margin:0 auto;
			display:block;
		}
	}
	.inner{
		padding:0 2rem 0rem 2rem;
		text-align:center;
		h3{
			@extend .neuzeit-grotesk-bold;
			color:$green-header;
			position:relative;
			width:auto;
			margin-left:auto;
			margin-right:auto;
			display:inline-block;
			margin-bottom:2.5rem;
			letter-spacing:2px;
			&:after{
				content:" ";
				display:block;
				background-color:$mg;
				width:100%;
				height:5px;
				position:absolute;
				left:50%;
				bottom:-20px;
				transform: translate(-50%,0);
			}
		}
		p{
			font-size:1.3rem;
			margin:0;
		}
	}

	&.dividers{
		@media (min-width:576px){
			&{
				[class*="col-"]{
					&:before{
						width:1px;
						top:auto;
						bottom:0;
						height:75%;
						transform:translate(0,0);
					}
				}
			}
		}
	}
}
