.copy{
	padding-top:2rem;
	padding-bottom:2rem;
	color:$grey-text;
	text-align:center;
	[class*="col-"]{
		position:relative;
		padding-bottom:1.5em;
		margin-bottom:1em;
		h2{
			color:$green-header;
			@extend .neuzeit-grotesk-bold;
			font-size:2.3rem;
			margin-bottom:2.3rem;
		}
		p{
			font-size:1.2rem;
			letter-spacing:1px
		}
		a.stickToBottom{
			@extend .neuzeit-grotesk-bold;
			position:absolute;
			bottom:0em;
			left:50%;
			transform:translate(-50%,0);
			color:$grey-text;
			font-size:1.4rem;
			letter-spacing:2px;
		}
		.copybox{
			padding:1em 2rem 0 2rem;
		}

		/* 0,2,4,... */
		&:nth-child(2n){
		}

		&:first-child{
			.copybox{
				padding-top:0em;
			}
		}
		/*
		&:last-child{}
		*/

		@media (screen and min-width:576px) {
			&{
				/* left hand column 1,3,5,... */
				&:nth-child(2n + 1){
					&:before{
						display:none;
					}
				}
				.copybox{
					padding-top:0em;
				}
			}
		}
	}	

	&.largemargins{
		padding-top:5rem;
		padding-bottom:3rem;
		[class*="col-"]{
			h2{
				margin-bottom:2.5rem;				
			}
		}
	}

	&.dividers{
		[class*="col-"]{
			&:before{
			}

		}
	}
}
