.dividers{
	[class*="col-"]{
		position:relative;
		&:before{
			content:" ";
			display:block;
			background-color:$mg;
			width:50%;
			height:2px;
			transform:translate(50%,0%);
		}
		&:first-child:before{
			display:none;
		}
	}
	@media (screen and min-width:576px) {
		&{
			[class*="col-"]{
				position:relative;
				&:before{
					position:absolute;
					left:-1px;
					top:50%;
					width:2px;
					height:50%;
					transform:translate(0,-50%);
				}
			}
		}
	}

}
