.tail{
	.background{
		position:relative;
		overflow:hidden;
		z-index:1;
		img.bg{
			position:absolute;
			z-index:1;
			width:100%;
			height:100%;
			left:0;
			top:0;
			object-fit:cover;
			object-position:top;
		}
	}
	.top{
		position:relative;
		z-index:5;
		min-height:300px;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	.caption{
		padding:8rem 2rem 1em 2em;
		p{
			text-align:center;
			color:$mg;
			&.quote{
				font-size:35px;
				color:#fff;
				@extend .neuzeit-grotesk-regular;
			}
		}
	}
	.bottom{
		position:relative;
		z-index:5;
	}
	img{
		display:block;
		&.green-logo{
			height:110px;
			margin-bottom:-1rem;
			margin-left:auto;
			margin-right:auto;
		}
		&.curve{
			margin-bottom:-10px;

		}
	}
	.message{
		background-color:$mg;
		padding:0rem 2rem 4rem 2rem;
		h2,p{
			text-align:center;
		}
		h2{
			color:#fff;
			@extend .neuzeit-grotesk-light;
			font-size:34px;
			margin-bottom:1rem;
			a{
				color:#fff;
			}
		}
		p{
			font-size:20px;
			letter-spacing:2px;
			a{
				color:$grey-text;
				text-decoration:underline;
				&:visited{
					color:$grey-text;
				}
			}
		}
	}
}

/*
.tail{
	&.no-image{
		.background{
			.wave{
				padding-top:0;
				margin-top:0px;
			}
		}
	}
	&.no-caption{}	
	&.image{}
	&.caption{}	
	.background{
		position:relative;
		overflow:hidden;
		z-index:1;
		img.bgImage{
			position:absolute;
			z-index:1;
			width:100%;
			height:100%;
			left:0;
			top:0;
			object-fit:cover;
			object-position:top;
		}
		.wave{
			padding-top:2rem;
			position:relative;
			z-index:2;
			margin-top:-55px;
			.caption{
				padding:8rem 2rem 1em 2em;
				p{
					text-align:center;
					color:$mg;
					&.quote{
						font-size:35px;
						color:#fff;
						@extend .neuzeit-grotesk-regular;
					}
				}
			}

			img.ablogo{
				margin:0 auto;
				display:block;
				height:122px;
				position:relative;
				top:25px;
			}
			img.curve{
				position:relative;
				left:0;
				bottom:-2px;
				width:100%;
				height:auto;
				display:block;
			}
			div.message{
				background-color:$mg;
				padding:0rem 2rem 4rem 2rem;
				h2,p{
					text-align:center;
				}
				h2{
					color:#fff;
					@extend .neuzeit-grotesk-light;
					font-size:34px;
					margin-bottom:1rem;
					a{
						color:#fff;
					}
				}
				p{
					font-size:20px;
					letter-spacing:2px;
					a{
						color:$grey-text;
						text-decoration:underline;
						&:visited{
							color:$grey-text;
						}
					}
				}
			}
		}
	}
}
*/
