.videoPlayer{
	position:relative;
	overflow:hidden;
	z-index:1;
	width:100%;
	background-color:#000;

	@include green-rollover;

	video,
	.video,
	h2,
	a.play{
		@include absolute-fill;
	}
	.poster{ 
		position:relative;
    	z-index:20;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
    	img{
    		width:100%;
    	}
	}
    video,.video{
    	z-index:10;
    }
    h2{
    	@extend .neuzeit-grotesk-regular;
	    color: #fff;
	    font-size: 2rem;
	    text-align:center;
	    display: inline-block;
	    width: 100%;
	    height: auto;
	    left: 0%;
	    top: 50%;
	    transform: translate(0%,-190%);
    	z-index:25;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	    @media (min-width:576px) {
	    	&{
	    		transform: translate(0%,-260%);
	    		font-size: 2.4rem;	
	    	}
	    }
    }
    a.play{
    	display:block;
    	z-index:30;
    	background-image:url('../images/icons/play-button-01.png');
    	background-repeat:no-repeat;
    	background-position:50% 50%;
    	background-size:45px 45px;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	    @media (min-width:576px) {
	    	&{
		    	background-size:90px 90px;
	    	}
	    }
    }
    &.open{
		.poster{ 
			transform:translate(0,-101%);
		}
		h2{
			transform: translate(0%,-700%);
		}            	
        a.play{
        	top:-100%;
        }
        &:after{
        	height:0%;
        }
    }
    .video iframe{
    	width:100%;
    	height:100%;
    	/* height:-webkit-fill-available; */
    }
}
